footer#footer


  p  

    | (Readme): Top 10 movies rated by IMDB,
    | Searchable from live Database, or 
    | CSV and JSON dumps available.


  p License: Data courtesy of IMDB, see under License
  p Created for: Educational use, Faculty project

  