head 
    title Top 10 rated IMDB movies

    style
      include styles/style.css 

    
    link(rel="stylesheet", href= "https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css")

    
    meta(name="description",content="TOP 10 IMDB movies API and User Interface")
    meta(name="keywords",content="HTML, CSS, JavaScript")
    meta(name="author" content="mbunic")