html 
    head 
        title Vulnerabilites 
    body
        
        h1 Welcome To the Internal Page

        ul 
            li: a(href='/', title='Home') Exit 


        p
            | The head of organisation is Melon Tusk 

            | His home adress is : Hollywood Bouleward 420

            | Personal phone number: +420 9000 21

            | Access code for other Internal pages is: 797340

            | Other private information...
        
            

        
    


        
        